<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="/css/form-elements.css">-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="static/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="register.html"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--<div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <span class="li-text">
                        Put some text or
                    </span>
                    <a href="#"><strong>links</strong></a>
                    <span class="li-text">
                        here, or some icons:
                    </span>
                    <span class="li-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                        <a href="#"><i class="fa fa-skype"></i></a>
                    </span>
                </li>
            </ul>
        </div>-->
    </div>
</nav>

<!-- Top content -->
<div class="top-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form role="form" action="javascript:void(0)" id="registerForm" class="form-horizontal">
                    <input type="hidden" name="id">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>注册</h3>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="用户名" id="username"      class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="密码" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="nickname" placeholder="昵称" id="nickname" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="邮箱" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="tellphone" placeholder="手机号码" id="tellphone" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="address" placeholder="联系地址" id="address" class="form-control">
                        </div>
                        <button type="button" onclick="register()" class="btn btn-block ">提交</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jquery.backstretch.min.js"></script>
<script src="/js/retina-1.1.0.min.js"></script>
<script src="/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="static/js/placeholder.js"></script>
<![endif]-->

</body>

</html>
<script>
    function register() {
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: '/doRegister',
            data: $("#registerForm").serialize(),
            success: function (data) {
                console.log(data);
            }
        });
    }
</script>